<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name  %>
  </div>

  <div class="field">
    <%= form.label :country_id %>
    <%= form.select :country_id, 
        options_for_select(Country.select_values, user&.country&.id), 
        { include_blank: true },
        { class: 'remote-select', data: { target: '#user_state_id' } } %>
  </div>

  <div class="field">
    <%= form.label :state_id %>
    <%= form.select :state_id,
        options_for_select(State.select_values(user&.country), user&.state&.id),
        {},
        {} %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary'%>
  </div>
<% end %>

